
<!DOCTYPE html>
<html>
<head>
<title>Travel Planner for Italy</title>
</head>
<body>
<h1>Welcome to the Travel Planner for Italy</h1>
<form action="/itinerary" method="POST">
<label for="num_days">Number of days:</label>
<input type="number" id="num_days" name="num_days">
<br>
<label for="interests">Interests:</label>
<input type="checkbox" id="art" name="interests" value="art">
<label for="art">Art</label>
<input type="checkbox" id="history" name="interests" value="history">
<label for="history">History</label>
<input type="checkbox" id="food" name="interests" value="food">
<label for="food">Food</label>
<br>
<label for="budget">Budget:</label>
<input type="number" id="budget" name="budget">
<br>
<input type="submit" value="Generate Itinerary">
</form>
</body>
</html>


